USE [master]
GO

-- 1. Xóa Database nếu đã tồn tại (Giúp thầy cô chạy script không bị lỗi trùng lặp)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyThuVienDB')
BEGIN
	ALTER DATABASE [QuanLyThuVienDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE [QuanLyThuVienDB];
END
GO

-- 2. Khởi tạo Database mới tinh (Tự động lưu vào đường dẫn mặc định của máy người chạy)
CREATE DATABASE [QuanLyThuVienDB]
GO

USE [QuanLyThuVienDB]
GO

-- =========================================================================
-- PHẦN 1: TẠO CẤU TRÚC BẢNG (TABLES)
-- =========================================================================

CREATE TABLE [dbo].[ChiTietPhieuMuon](
	[MaChiTiet] [nvarchar](35) NOT NULL,
	[MaPhieuMuon] [nvarchar](30) NOT NULL,
	[MaDauSach] [nvarchar](20) NOT NULL,
	[NgayTraThucTe] [date] NULL,
	[TinhTrangTra] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED ([MaChiTiet] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DauSach](
	[MaDauSach] [nvarchar](20) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[NamXuatBan] [int] NOT NULL,
	[SoLuongHienCo] [int] NOT NULL,
	[MaTheLoai] [nvarchar](20) NOT NULL,
	[MaNhaXuatBan] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED ([MaDauSach] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [nvarchar](20) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Phai] [nvarchar](10) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Anh3x4] [nvarchar](260) NULL,
PRIMARY KEY CLUSTERED ([MaDocGia] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](20) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Phai] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[ChucVu] [nvarchar](80) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED ([MaNhanVien] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[NhaXuatBan](
	[MaNhaXuatBan] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](250) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED ([MaNhaXuatBan] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieuMuon] [nvarchar](30) NOT NULL,
	[MaDocGia] [nvarchar](20) NOT NULL,
	[MaNhanVien] [nvarchar](20) NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[NgayHenTra] [date] NOT NULL,
PRIMARY KEY CLUSTERED ([MaPhieuMuon] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PhieuPhat](
	[MaPhieuPhat] [nvarchar](35) NOT NULL,
	[MaChiTiet] [nvarchar](35) NOT NULL,
	[MaNhanVien] [nvarchar](20) NOT NULL,
	[NgayPhat] [date] NOT NULL,
	[LyDo] [nvarchar](250) NOT NULL,
	[PhiPhat] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED ([MaPhieuPhat] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TheDocGia](
	[MaThe] [nvarchar](30) NOT NULL,
	[MaDocGia] [nvarchar](20) NOT NULL,
	[NgayCap] [date] NOT NULL,
	[HanSuDung] [date] NOT NULL,
	[DaDongLePhi] [bit] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED ([MaThe] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [nvarchar](20) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED ([MaTheLoai] ASC)
) ON [PRIMARY]
GO

-- =========================================================================
-- PHẦN 2: CHÈN DỮ LIỆU MẪU (INSERT DATA)
-- =========================================================================

INSERT [dbo].[ChiTietPhieuMuon] ([MaChiTiet], [MaPhieuMuon], [MaDauSach], [NgayTraThucTe], [TinhTrangTra]) VALUES (N'PM20260921234839_1', N'PM20260921234839', N'S002', NULL, NULL)
INSERT [dbo].[ChiTietPhieuMuon] ([MaChiTiet], [MaPhieuMuon], [MaDauSach], [NgayTraThucTe], [TinhTrangTra]) VALUES (N'PM20260921235811_1', N'PM20260921235811', N'S001', NULL, NULL)
GO

INSERT [dbo].[DauSach] ([MaDauSach], [TenSach], [NamXuatBan], [SoLuongHienCo], [MaTheLoai], [MaNhaXuatBan]) VALUES (N'S001', N'Lập trình C# căn bản', 2025, 4, N'TL001', N'NXB001')
INSERT [dbo].[DauSach] ([MaDauSach], [TenSach], [NamXuatBan], [SoLuongHienCo], [MaTheLoai], [MaNhaXuatBan]) VALUES (N'S002', N'Cơ sở dữ liệu', 2024, 3, N'TL001', N'NXB001')
INSERT [dbo].[DauSach] ([MaDauSach], [TenSach], [NamXuatBan], [SoLuongHienCo], [MaTheLoai], [MaNhaXuatBan]) VALUES (N'S003', N'Mạng máy tính', 2023, 3, N'TL001', N'NXB002')
GO

INSERT [dbo].[DocGia] ([MaDocGia], [Ho], [Ten], [NgaySinh], [Phai], [SoDienThoai], [DiaChi], [Email], [Anh3x4]) VALUES (N'DG001', N'Lê', N'Minh', CAST(N'2003-05-12' AS Date), N'Nam', N'0911000001', N'TP.HCM', N'minh@example.com', NULL)
INSERT [dbo].[DocGia] ([MaDocGia], [Ho], [Ten], [NgaySinh], [Phai], [SoDienThoai], [DiaChi], [Email], [Anh3x4]) VALUES (N'DG002', N'Phạm', N'Lan', CAST(N'2002-10-23' AS Date), N'Nữ', N'0911000002', N'TP.HCM', N'lan@example.com', NULL)
INSERT [dbo].[DocGia] ([MaDocGia], [Ho], [Ten], [NgaySinh], [Phai], [SoDienThoai], [DiaChi], [Email], [Anh3x4]) VALUES (N'DG003', N'Bùi', N'Anh', CAST(N'2026-09-22' AS Date), N'Nam', N'0815847760', N'Hà Tĩnh', N'anh@gmail.com', NULL)
GO

INSERT [dbo].[NhanVien] ([MaNhanVien], [Ho], [Ten], [Phai], [NgaySinh], [ChucVu], [SoDienThoai]) VALUES (N'NV001', N'Nguyễn', N'An', N'Nam', CAST(N'1990-02-15' AS Date), N'Thủ thư', N'0901000001')
INSERT [dbo].[NhanVien] ([MaNhanVien], [Ho], [Ten], [Phai], [NgaySinh], [ChucVu], [SoDienThoai]) VALUES (N'NV002', N'Trần', N'Bình', N'Nữ', CAST(N'1992-08-20' AS Date), N'Nhân viên quản lý sách', N'0901000002')
INSERT [dbo].[NhanVien] ([MaNhanVien], [Ho], [Ten], [Phai], [NgaySinh], [ChucVu], [SoDienThoai]) VALUES (N'NV003', N'Bùi', N'Anh', N'Nam', CAST(N'2026-09-22' AS Date), N'BOSS', NULL)
GO

INSERT [dbo].[NhaXuatBan] ([MaNhaXuatBan], [DiaChi], [SoDienThoai]) VALUES (N'NXB001', N'Quận 1, TP.HCM', N'0283000001')
INSERT [dbo].[NhaXuatBan] ([MaNhaXuatBan], [DiaChi], [SoDienThoai]) VALUES (N'NXB002', N'Quận Cầu Giấy, Hà Nội', N'0243000002')
GO

INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaNhanVien], [NgayMuon], [NgayHenTra]) VALUES (N'PM20260921234839', N'DG001', N'NV001', CAST(N'2026-09-21' AS Date), CAST(N'2026-09-28' AS Date))
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaNhanVien], [NgayMuon], [NgayHenTra]) VALUES (N'PM20260921235811', N'DG001', N'NV001', CAST(N'2026-09-21' AS Date), CAST(N'2026-09-28' AS Date))
GO

INSERT [dbo].[TheDocGia] ([MaThe], [MaDocGia], [NgayCap], [HanSuDung], [DaDongLePhi], [TrangThai]) VALUES (N'THE_DG001_2026', N'DG001', CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 1, 1)
INSERT [dbo].[TheDocGia] ([MaThe], [MaDocGia], [NgayCap], [HanSuDung], [DaDongLePhi], [TrangThai]) VALUES (N'THE_DG002_2026', N'DG002', CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 1, 1)
GO

INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL003', N'Anh văn')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL002', N'Tiểu thuyết')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL001', N'Tin học')
GO

-- =========================================================================
-- PHẦN 3: RÀNG BUỘC (INDEXES & CONSTRAINTS)
-- =========================================================================

ALTER TABLE [dbo].[ChiTietPhieuMuon] ADD CONSTRAINT [UQ_CTPM_Phieu_DauSach] UNIQUE NONCLUSTERED ([MaPhieuMuon] ASC, [MaDauSach] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_CTPM_MaDauSach] ON [dbo].[ChiTietPhieuMuon] ([MaDauSach] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_PhieuMuon_DocGia] ON [dbo].[PhieuMuon] ([MaDocGia] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_PhieuMuon_NgayHenTra] ON [dbo].[PhieuMuon] ([NgayHenTra] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_PhieuPhat_NgayPhat] ON [dbo].[PhieuPhat] ([NgayPhat] ASC)
GO
CREATE UNIQUE NONCLUSTERED INDEX [UX_TheDocGia_MotTheHoatDong] ON [dbo].[TheDocGia] ([MaDocGia] ASC) WHERE ([TrangThai]=(1))
GO
ALTER TABLE [dbo].[TheLoai] ADD UNIQUE NONCLUSTERED ([TenTheLoai] ASC)
GO
ALTER TABLE [dbo].[TheDocGia] ADD CONSTRAINT [DF_TheDocGia_TrangThai] DEFAULT ((1)) FOR [TrangThai]
GO

-- KHÓA NGOẠI (FOREIGN KEYS)
ALTER TABLE [dbo].[ChiTietPhieuMuon] WITH CHECK ADD CONSTRAINT [FK_CTPM_DauSach] FOREIGN KEY([MaDauSach]) REFERENCES [dbo].[DauSach] ([MaDauSach])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] WITH CHECK ADD CONSTRAINT [FK_CTPM_PhieuMuon] FOREIGN KEY([MaPhieuMuon]) REFERENCES [dbo].[PhieuMuon] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[DauSach] WITH CHECK ADD CONSTRAINT [FK_DauSach_NXB] FOREIGN KEY([MaNhaXuatBan]) REFERENCES [dbo].[NhaXuatBan] ([MaNhaXuatBan])
GO
ALTER TABLE [dbo].[DauSach] WITH CHECK ADD CONSTRAINT [FK_DauSach_TheLoai] FOREIGN KEY([MaTheLoai]) REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[PhieuMuon] WITH CHECK ADD CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([MaDocGia]) REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[PhieuMuon] WITH CHECK ADD CONSTRAINT [FK_PhieuMuon_NhanVien] FOREIGN KEY([MaNhanVien]) REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuPhat] WITH CHECK ADD CONSTRAINT [FK_PhieuPhat_CTPM] FOREIGN KEY([MaChiTiet]) REFERENCES [dbo].[ChiTietPhieuMuon] ([MaChiTiet])
GO
ALTER TABLE [dbo].[PhieuPhat] WITH CHECK ADD CONSTRAINT [FK_PhieuPhat_NhanVien] FOREIGN KEY([MaNhanVien]) REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TheDocGia] WITH CHECK ADD CONSTRAINT [FK_TheDocGia_DocGia] FOREIGN KEY([MaDocGia]) REFERENCES [dbo].[DocGia] ([MaDocGia])
GO

-- KHÓA KIỂM TRA (CHECK CONSTRAINTS)
ALTER TABLE [dbo].[DauSach] WITH CHECK ADD CONSTRAINT [CK_DauSach_SoLuong] CHECK (([SoLuongHienCo]>=(0)))
GO
ALTER TABLE [dbo].[PhieuMuon] WITH CHECK ADD CONSTRAINT [CK_PhieuMuon_Ngay] CHECK (([NgayHenTra]>=[NgayMuon]))
GO
ALTER TABLE [dbo].[PhieuPhat] WITH CHECK ADD CONSTRAINT [CK_PhieuPhat_Phi] CHECK (([PhiPhat]>=(0)))
GO
ALTER TABLE [dbo].[TheDocGia] WITH CHECK ADD CONSTRAINT [CK_TheDocGia_Han] CHECK (([HanSuDung]>=[NgayCap]))
GO

PRINT N'✅ Khởi tạo CSDL QuanLyThuVienDB thành công!';