USE [master]
GO

IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyKhachSan')
BEGIN
    ALTER DATABASE [QuanLyKhachSan] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [QuanLyKhachSan];
END
GO

CREATE DATABASE [QuanLyKhachSan];
GO

USE [QuanLyKhachSan];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[ChiTietDatPhong]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatPhong](
	[SoPhieuDat] [varchar](30) NOT NULL,
	[SoPhong] [varchar](20) NOT NULL,
	[SoNguoi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhieuDat] ASC,
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuDenBu]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuDenBu](
	[SoPhieuDenBu] [varchar](30) NOT NULL,
	[MaTienNghi] [varchar](30) NOT NULL,
	[MucDoThietHai] [nvarchar](80) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhieuDenBu] ASC,
	[MaTienNghi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuSuDungDV]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuSuDungDV](
	[SoPhieuSDDV] [varchar](30) NOT NULL,
	[MaDV] [varchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS (CONVERT([decimal](18,2),[SoLuong]*[DonGia])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[SoPhieuSDDV] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [varchar](20) NOT NULL,
	[TenDV] [nvarchar](120) NOT NULL,
	[DonViTinh] [nvarchar](40) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[SoHoaDon] [varchar](30) NOT NULL,
	[SoPhieuDat] [varchar](30) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[SoNgayTinhTien] [int] NOT NULL,
	[TienPhong] [decimal](18, 2) NOT NULL,
	[TienDichVu] [decimal](18, 2) NOT NULL,
	[TongTien]  AS (CONVERT([decimal](18,2),[TienPhong]+[TienDichVu])) PERSISTED,
	[TrangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhach] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](120) NOT NULL,
	[SoCMND] [varchar](30) NOT NULL,
	[QuocTich] [nvarchar](80) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [varchar](20) NOT NULL,
	[TenKhuVuc] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTienNghi]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTienNghi](
	[MaLoaiTN] [varchar](20) NOT NULL,
	[TenLoaiTN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiLuuTru]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiLuuTru](
	[MaNguoiLT] [int] IDENTITY(1,1) NOT NULL,
	[SoPhieuDat] [varchar](30) NOT NULL,
	[SoPhong] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](120) NOT NULL,
	[SoCMND] [varchar](30) NOT NULL,
	[QuocTich] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](120) NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[SoPhieuDat] [varchar](30) NOT NULL,
	[MaKhach] [varchar](20) NOT NULL,
	[MaNVLeTan] [varchar](20) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[NgayNhan] [date] NOT NULL,
	[NgayTraDuKien] [date] NOT NULL,
	[TienCoc] [decimal](18, 2) NOT NULL,
	[KenhDat] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[NgayNhanThucTe] [datetime] NULL,
	[NgayTraThucTe] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDenBu]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDenBu](
	[SoPhieuDenBu] [varchar](30) NOT NULL,
	[SoPhieuDat] [varchar](30) NOT NULL,
	[SoPhong] [varchar](20) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhieuDenBu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuLapDat]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuLapDat](
	[SoPhieuLapDat] [varchar](30) NOT NULL,
	[MaTienNghi] [varchar](30) NOT NULL,
	[SoPhong] [varchar](20) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[TinhTrang] [nvarchar](100) NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhieuLapDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuSuDungDV]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuSuDungDV](
	[SoPhieuSDDV] [varchar](30) NOT NULL,
	[SoPhieuDat] [varchar](30) NOT NULL,
	[SoPhong] [varchar](20) NOT NULL,
	[NgaySuDung] [date] NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhieuSDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[SoPhong] [varchar](20) NOT NULL,
	[MaKhuVuc] [varchar](20) NOT NULL,
	[SoNguoiToiDa] [int] NOT NULL,
	[DonGiaNgay] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinhDenBu]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinhDenBu](
	[MaQuyDinh] [varchar](30) NOT NULL,
	[MaLoaiTN] [varchar](20) NOT NULL,
	[MucDoThietHai] [nvarchar](80) NOT NULL,
	[MucDenBu] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyDinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [varchar](30) NOT NULL,
	[SoHoaDon] [varchar](30) NOT NULL,
	[NgayThanhToan] [datetime] NOT NULL,
	[HinhThuc] [nvarchar](30) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienNghi]    Script Date: 25-09-2026 7:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienNghi](
	[MaTienNghi] [varchar](30) NOT NULL,
	[MaLoaiTN] [varchar](20) NOT NULL,
	[SoThuTu] [int] NOT NULL,
	[TinhTrangHienTai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTienNghi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDatPhong] ([SoPhieuDat], [SoPhong], [SoNguoi]) VALUES (N'1', N'B410', 3)
INSERT [dbo].[ChiTietDatPhong] ([SoPhieuDat], [SoPhong], [SoNguoi]) VALUES (N'2', N'B410', 3)
INSERT [dbo].[ChiTietDatPhong] ([SoPhieuDat], [SoPhong], [SoNguoi]) VALUES (N'3', N'B201', 1)
GO
INSERT [dbo].[ChiTietPhieuDenBu] ([SoPhieuDenBu], [MaTienNghi], [MucDoThietHai], [SoTien]) VALUES (N'1', N'TL01', N'Hư hỏng nhẹ', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuDenBu] ([SoPhieuDenBu], [MaTienNghi], [MucDoThietHai], [SoTien]) VALUES (N'1', N'TV01', N'Hư hỏng nhẹ', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuDenBu] ([SoPhieuDenBu], [MaTienNghi], [MucDoThietHai], [SoTien]) VALUES (N'2', N'TV02', N'Hư hỏng nhẹ', CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietPhieuSuDungDV] ([SoPhieuSDDV], [MaDV], [SoLuong], [DonGia]) VALUES (N'SD20260925192159129', N'DV01', 2, CAST(120000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonViTinh], [DonGia]) VALUES (N'BA04', N'Bùi Thế Anh', N'Người', CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonViTinh], [DonGia]) VALUES (N'DV01', N'Ăn sáng', N'Suất', CAST(120000.00 AS Decimal(18, 2)))
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonViTinh], [DonGia]) VALUES (N'DV02', N'Tắm
hơi', N'Lượt', CAST(250000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[HoaDon] ([SoHoaDon], [SoPhieuDat], [NgayLap], [MaNV], [SoNgayTinhTien], [TienPhong], [TienDichVu], [TrangThai]) VALUES (N'1', N'9', CAST(N'2026-09-25T19:23:40.123' AS DateTime), N'NV04', 2, CAST(1600000.00 AS Decimal(18, 2)), CAST(240000.00 AS Decimal(18, 2)), N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([SoHoaDon], [SoPhieuDat], [NgayLap], [MaNV], [SoNgayTinhTien], [TienPhong], [TienDichVu], [TrangThai]) VALUES (N'2', N'2', CAST(N'2026-09-25T19:42:05.473' AS DateTime), N'NV04', 3, CAST(300000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Đã thanh toán')
GO
INSERT [dbo].[KhachHang] ([MaKhach], [HoTen], [SoCMND], [QuocTich], [SoDienThoai]) VALUES (N'BA01', N'Bùi Thế Anh', N'2005', N'Việt Nam', N'00808080')
INSERT [dbo].[KhachHang] ([MaKhach], [HoTen], [SoCMND], [QuocTich], [SoDienThoai]) VALUES (N'BA02', N'Bùi Thế Anh', N'2004', N'Việt Nam', N'00808080')
GO
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc]) VALUES (N'C', N'Bui Anh')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc]) VALUES (N'A', N'Khu A')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc]) VALUES (N'B', N'Khu B')
GO
INSERT [dbo].[LoaiTienNghi] ([MaLoaiTN], [TenLoaiTN]) VALUES (N'BA', N'Bùi Thế Anh')
INSERT [dbo].[LoaiTienNghi] ([MaLoaiTN], [TenLoaiTN]) VALUES (N'DT', N'Điện thoại')
INSERT [dbo].[LoaiTienNghi] ([MaLoaiTN], [TenLoaiTN]) VALUES (N'TV', N'Ti vi')
GO
SET IDENTITY_INSERT [dbo].[NguoiLuuTru] ON 

INSERT [dbo].[NguoiLuuTru] ([MaNguoiLT], [SoPhieuDat], [SoPhong], [HoTen], [SoCMND], [QuocTich]) VALUES (1, N'3', N'B201', N'Anh', N'2004', N'Việt Nam')
INSERT [dbo].[NguoiLuuTru] ([MaNguoiLT], [SoPhieuDat], [SoPhong], [HoTen], [SoCMND], [QuocTich]) VALUES (2, N'2', N'B410', N'Anh', N'2000', N'Việt Nam')
SET IDENTITY_INSERT [dbo].[NguoiLuuTru] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [VaiTro], [SoDienThoai]) VALUES (N'NV01', N'Nguyễn Thu Hà', N'Lễ tân', N'0901000001')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [VaiTro], [SoDienThoai]) VALUES (N'NV02', N'Trần Minh An', N'Phục vụ phòng', N'0901000002')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [VaiTro], [SoDienThoai]) VALUES (N'NV03', N'Lê Hoàng Nam', N'Thanh toán', N'0901000003')
GO
INSERT [dbo].[PhieuDatPhong] ([SoPhieuDat], [MaKhach], [MaNVLeTan], [NgayLap], [NgayNhan], [NgayTraDuKien], [TienCoc], [KenhDat], [TrangThai], [NgayNhanThucTe], [NgayTraThucTe]) VALUES (N'1', N'BA01', N'NV04', CAST(N'2026-09-25T18:54:28.780' AS DateTime), CAST(N'2026-09-26' AS Date), CAST(N'2026-09-30' AS Date), CAST(50000.00 AS Decimal(18, 2)), N'Website', N'No-show', NULL, NULL)
INSERT [dbo].[PhieuDatPhong] ([SoPhieuDat], [MaKhach], [MaNVLeTan], [NgayLap], [NgayNhan], [NgayTraDuKien], [TienCoc], [KenhDat], [TrangThai], [NgayNhanThucTe], [NgayTraThucTe]) VALUES (N'2', N'BA02', N'NV04', CAST(N'2026-09-25T18:54:28.780' AS DateTime), CAST(N'2026-09-26' AS Date), CAST(N'2026-09-30' AS Date), CAST(50000.00 AS Decimal(18, 2)), N'Website', N'Đã trả', CAST(N'2026-09-25T19:40:27.770' AS DateTime), CAST(N'2026-09-25T19:42:32.410' AS DateTime))
INSERT [dbo].[PhieuDatPhong] ([SoPhieuDat], [MaKhach], [MaNVLeTan], [NgayLap], [NgayNhan], [NgayTraDuKien], [TienCoc], [KenhDat], [TrangThai], [NgayNhanThucTe], [NgayTraThucTe]) VALUES (N'3', N'BA02', N'NV03', CAST(N'2026-09-25T18:54:28.780' AS DateTime), CAST(N'2026-09-26' AS Date), CAST(N'2026-09-30' AS Date), CAST(50000.00 AS Decimal(18, 2)), N'Trực tiếp', N'Đang ở', CAST(N'2026-09-25T19:40:25.010' AS DateTime), NULL)
GO
INSERT [dbo].[PhieuDenBu] ([SoPhieuDenBu], [SoPhieuDat], [SoPhong], [NgayLap], [MaNV], [TongTien]) VALUES (N'1', N'9', N'A102', CAST(N'2026-09-25T19:38:55.947' AS DateTime), N'NV01', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuDenBu] ([SoPhieuDenBu], [SoPhieuDat], [SoPhong], [NgayLap], [MaNV], [TongTien]) VALUES (N'2', N'3', N'B201', CAST(N'2026-09-25T19:41:17.880' AS DateTime), N'NV01', CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PhieuLapDat] ([SoPhieuLapDat], [MaTienNghi], [SoPhong], [NgayLap], [TinhTrang], [MaNV], [GhiChu]) VALUES (N'1', N'TV02', N'B201', CAST(N'2026-09-25' AS Date), N'Tốt', N'NV04', N'Phòng khá hẹp')
INSERT [dbo].[PhieuLapDat] ([SoPhieuLapDat], [MaTienNghi], [SoPhong], [NgayLap], [TinhTrang], [MaNV], [GhiChu]) VALUES (N'PL01', N'TV01', N'A102', CAST(N'2026-09-25' AS Date), N'Tốt', N'NV01', N'Lắp mới')
INSERT [dbo].[PhieuLapDat] ([SoPhieuLapDat], [MaTienNghi], [SoPhong], [NgayLap], [TinhTrang], [MaNV], [GhiChu]) VALUES (N'PL02', N'TL01', N'A102', CAST(N'2026-09-25' AS Date), N'Tốt', N'NV01', N'Lắp mới')
GO
INSERT [dbo].[PhieuSuDungDV] ([SoPhieuSDDV], [SoPhieuDat], [SoPhong], [NgaySuDung], [MaNV]) VALUES (N'SD20260925192159129', N'9', N'A102', CAST(N'2026-09-25' AS Date), N'NV04')
GO
INSERT [dbo].[Phong] ([SoPhong], [MaKhuVuc], [SoNguoiToiDa], [DonGiaNgay], [TrangThai]) VALUES (N'A101', N'A', 2, CAST(600000.00 AS Decimal(18, 2)), N'Trống')
INSERT [dbo].[Phong] ([SoPhong], [MaKhuVuc], [SoNguoiToiDa], [DonGiaNgay], [TrangThai]) VALUES (N'A102', N'A', 3, CAST(800000.00 AS Decimal(18, 2)), N'Trống')
INSERT [dbo].[Phong] ([SoPhong], [MaKhuVuc], [SoNguoiToiDa], [DonGiaNgay], [TrangThai]) VALUES (N'B201', N'B', 4, CAST(1200000.00 AS Decimal(18, 2)), N'Đang sử dụng')
GO
INSERT [dbo].[QuyDinhDenBu] ([MaQuyDinh], [MaLoaiTN], [MucDoThietHai], [MucDenBu]) VALUES (N'QD01', N'TV', N'Hư hỏng nhẹ', CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[QuyDinhDenBu] ([MaQuyDinh], [MaLoaiTN], [MucDoThietHai], [MucDenBu]) VALUES (N'QD02', N'TV', N'Mất', CAST(5000000.00 AS Decimal(18, 2)))
INSERT [dbo].[QuyDinhDenBu] ([MaQuyDinh], [MaLoaiTN], [MucDoThietHai], [MucDenBu]) VALUES (N'QD03', N'TL', N'Hư hỏng
nhẹ', CAST(400000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ThanhToan] ([MaThanhToan], [SoHoaDon], [NgayThanhToan], [HinhThuc], [SoTien]) VALUES (N'2', N'2', CAST(N'2026-09-25T19:42:21.680' AS DateTime), N'Tiền mặt', CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[ThanhToan] ([MaThanhToan], [SoHoaDon], [NgayThanhToan], [HinhThuc], [SoTien]) VALUES (N'a', N'1', CAST(N'2026-09-25T19:27:20.027' AS DateTime), N'Tiền mặt', CAST(1840000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[TienNghi] ([MaTienNghi], [MaLoaiTN], [SoThuTu], [TinhTrangHienTai]) VALUES (N'TL01', N'TL', 1, N'Tốt')
INSERT [dbo].[TienNghi] ([MaTienNghi], [MaLoaiTN], [SoThuTu], [TinhTrangHienTai]) VALUES (N'TV01', N'TV', 1, N'Tốt')
INSERT [dbo].[TienNghi] ([MaTienNghi], [MaLoaiTN], [SoThuTu], [TinhTrangHienTai]) VALUES (N'TV02', N'TV', 2, N'Tốt')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CTDat_Phong]    Script Date: 25-09-2026 7:55:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_CTDat_Phong] ON [dbo].[ChiTietDatPhong]
(
	[SoPhong] ASC,
	[SoPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__9B0534E889B70506]    Script Date: 25-09-2026 7:55:57 PM ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[SoPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__F5EEA1C6E377099F]    Script Date: 25-09-2026 7:55:57 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhuVuc__258A8CB3FD4DB669]    Script Date: 25-09-2026 7:55:57 PM ******/
ALTER TABLE [dbo].[KhuVuc] ADD UNIQUE NONCLUSTERED 
(
	[TenKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiTien__F4348CA163398889]    Script Date: 25-09-2026 7:55:57 PM ******/
ALTER TABLE [dbo].[LoaiTienNghi] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhieuDatPhong_Ngay]    Script Date: 25-09-2026 7:55:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuDatPhong_Ngay] ON [dbo].[PhieuDatPhong]
(
	[NgayNhan] ASC,
	[NgayTraDuKien] ASC,
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PhieuLapDat_ThietBi_Ngay]    Script Date: 25-09-2026 7:55:57 PM ******/
ALTER TABLE [dbo].[PhieuLapDat] ADD  CONSTRAINT [UQ_PhieuLapDat_ThietBi_Ngay] UNIQUE NONCLUSTERED 
(
	[MaTienNghi] ASC,
	[NgayLap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PhieuSDDV_PhongNgay]    Script Date: 25-09-2026 7:55:57 PM ******/
ALTER TABLE [dbo].[PhieuSuDungDV] ADD  CONSTRAINT [UQ_PhieuSDDV_PhongNgay] UNIQUE NONCLUSTERED 
(
	[SoPhieuDat] ASC,
	[SoPhong] ASC,
	[NgaySuDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhieuSDDV_DatPhong]    Script Date: 25-09-2026 7:55:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuSDDV_DatPhong] ON [dbo].[PhieuSuDungDV]
(
	[SoPhieuDat] ASC,
	[SoPhong] ASC,
	[NgaySuDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_QDDB_Loai_MucDo]    Script Date: 25-09-2026 7:55:57 PM ******/
ALTER TABLE [dbo].[QuyDinhDenBu] ADD  CONSTRAINT [UQ_QDDB_Loai_MucDo] UNIQUE NONCLUSTERED 
(
	[MaLoaiTN] ASC,
	[MucDoThietHai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TienNghi_Loai_STT]    Script Date: 25-09-2026 7:55:57 PM ******/
ALTER TABLE [dbo].[TienNghi] ADD  CONSTRAINT [UQ_TienNghi_Loai_STT] UNIQUE NONCLUSTERED 
(
	[MaLoaiTN] ASC,
	[SoThuTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuDatPhong] ADD  DEFAULT ((0)) FOR [TienCoc]
GO
ALTER TABLE [dbo].[PhieuDatPhong] ADD  DEFAULT (N'Đã đặt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuDenBu] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_CTDat_Phieu] FOREIGN KEY([SoPhieuDat])
REFERENCES [dbo].[PhieuDatPhong] ([SoPhieuDat])
GO
ALTER TABLE [dbo].[ChiTietDatPhong] CHECK CONSTRAINT [FK_CTDat_Phieu]
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_CTDat_Phong] FOREIGN KEY([SoPhong])
REFERENCES [dbo].[Phong] ([SoPhong])
GO
ALTER TABLE [dbo].[ChiTietDatPhong] CHECK CONSTRAINT [FK_CTDat_Phong]
GO
ALTER TABLE [dbo].[ChiTietPhieuDenBu]  WITH CHECK ADD  CONSTRAINT [FK_CTDB_Phieu] FOREIGN KEY([SoPhieuDenBu])
REFERENCES [dbo].[PhieuDenBu] ([SoPhieuDenBu])
GO
ALTER TABLE [dbo].[ChiTietPhieuDenBu] CHECK CONSTRAINT [FK_CTDB_Phieu]
GO
ALTER TABLE [dbo].[ChiTietPhieuDenBu]  WITH CHECK ADD  CONSTRAINT [FK_CTDB_TienNghi] FOREIGN KEY([MaTienNghi])
REFERENCES [dbo].[TienNghi] ([MaTienNghi])
GO
ALTER TABLE [dbo].[ChiTietPhieuDenBu] CHECK CONSTRAINT [FK_CTDB_TienNghi]
GO
ALTER TABLE [dbo].[ChiTietPhieuSuDungDV]  WITH CHECK ADD  CONSTRAINT [FK_CTSDDV_DV] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[ChiTietPhieuSuDungDV] CHECK CONSTRAINT [FK_CTSDDV_DV]
GO
ALTER TABLE [dbo].[ChiTietPhieuSuDungDV]  WITH CHECK ADD  CONSTRAINT [FK_CTSDDV_Phieu] FOREIGN KEY([SoPhieuSDDV])
REFERENCES [dbo].[PhieuSuDungDV] ([SoPhieuSDDV])
GO
ALTER TABLE [dbo].[ChiTietPhieuSuDungDV] CHECK CONSTRAINT [FK_CTSDDV_Phieu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NV]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_PhieuDat] FOREIGN KEY([SoPhieuDat])
REFERENCES [dbo].[PhieuDatPhong] ([SoPhieuDat])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_PhieuDat]
GO
ALTER TABLE [dbo].[NguoiLuuTru]  WITH CHECK ADD  CONSTRAINT [FK_NguoiLT_CTDat] FOREIGN KEY([SoPhieuDat], [SoPhong])
REFERENCES [dbo].[ChiTietDatPhong] ([SoPhieuDat], [SoPhong])
GO
ALTER TABLE [dbo].[NguoiLuuTru] CHECK CONSTRAINT [FK_NguoiLT_CTDat]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_Khach] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachHang] ([MaKhach])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDat_Khach]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_NV] FOREIGN KEY([MaNVLeTan])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDat_NV]
GO
ALTER TABLE [dbo].[PhieuDenBu]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDB_CTDat] FOREIGN KEY([SoPhieuDat], [SoPhong])
REFERENCES [dbo].[ChiTietDatPhong] ([SoPhieuDat], [SoPhong])
GO
ALTER TABLE [dbo].[PhieuDenBu] CHECK CONSTRAINT [FK_PhieuDB_CTDat]
GO
ALTER TABLE [dbo].[PhieuDenBu]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDB_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDenBu] CHECK CONSTRAINT [FK_PhieuDB_NV]
GO
ALTER TABLE [dbo].[PhieuLapDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuLapDat_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuLapDat] CHECK CONSTRAINT [FK_PhieuLapDat_NV]
GO
ALTER TABLE [dbo].[PhieuLapDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuLapDat_Phong] FOREIGN KEY([SoPhong])
REFERENCES [dbo].[Phong] ([SoPhong])
GO
ALTER TABLE [dbo].[PhieuLapDat] CHECK CONSTRAINT [FK_PhieuLapDat_Phong]
GO
ALTER TABLE [dbo].[PhieuLapDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuLapDat_TienNghi] FOREIGN KEY([MaTienNghi])
REFERENCES [dbo].[TienNghi] ([MaTienNghi])
GO
ALTER TABLE [dbo].[PhieuLapDat] CHECK CONSTRAINT [FK_PhieuLapDat_TienNghi]
GO
ALTER TABLE [dbo].[PhieuSuDungDV]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSDDV_CTDat] FOREIGN KEY([SoPhieuDat], [SoPhong])
REFERENCES [dbo].[ChiTietDatPhong] ([SoPhieuDat], [SoPhong])
GO
ALTER TABLE [dbo].[PhieuSuDungDV] CHECK CONSTRAINT [FK_PhieuSDDV_CTDat]
GO
ALTER TABLE [dbo].[PhieuSuDungDV]  WITH CHECK ADD  CONSTRAINT [FK_PhieuSDDV_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuSuDungDV] CHECK CONSTRAINT [FK_PhieuSDDV_NV]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_KhuVuc]
GO
ALTER TABLE [dbo].[QuyDinhDenBu]  WITH CHECK ADD  CONSTRAINT [FK_QDDB_Loai] FOREIGN KEY([MaLoaiTN])
REFERENCES [dbo].[LoaiTienNghi] ([MaLoaiTN])
GO
ALTER TABLE [dbo].[QuyDinhDenBu] CHECK CONSTRAINT [FK_QDDB_Loai]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_HoaDon] FOREIGN KEY([SoHoaDon])
REFERENCES [dbo].[HoaDon] ([SoHoaDon])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_HoaDon]
GO
ALTER TABLE [dbo].[TienNghi]  WITH CHECK ADD  CONSTRAINT [FK_TienNghi_Loai] FOREIGN KEY([MaLoaiTN])
REFERENCES [dbo].[LoaiTienNghi] ([MaLoaiTN])
GO
ALTER TABLE [dbo].[TienNghi] CHECK CONSTRAINT [FK_TienNghi_Loai]
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD CHECK  (([SoNguoi]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuDenBu]  WITH CHECK ADD CHECK  (([SoTien]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuSuDungDV]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuSuDungDV]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([SoNgayTinhTien]>(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TienDichVu]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TienPhong]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_TrangThai] CHECK  (([TrangThai]=N'Hủy' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_TrangThai]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD CHECK  (([TienCoc]>=(0)))
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [CK_PhieuDat_Kenh] CHECK  (([KenhDat]=N'Trực tiếp' OR [KenhDat]=N'Website' OR [KenhDat]=N'Điện
thoại'))
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [CK_PhieuDat_Kenh]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [CK_PhieuDat_Ngay] CHECK  (([NgayTraDuKien]>=[NgayNhan]))
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [CK_PhieuDat_Ngay]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [CK_PhieuDat_TrangThai] CHECK  (([TrangThai]=N'Đã nhận' OR [TrangThai]=N'No-show' OR [TrangThai]=N'Hủy' OR [TrangThai]=N'Đã trả' OR [TrangThai]=N'Đang ở' OR [TrangThai]=N'Đã đặt'))
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [CK_PhieuDat_TrangThai]
GO
ALTER TABLE [dbo].[PhieuDenBu]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([DonGiaNgay]>=(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([SoNguoiToiDa]>(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_Phong_TrangThai] CHECK  (([TrangThai]=N'Bảo trì' OR [TrangThai]=N'Bận' OR [TrangThai]=N'Đang ở' OR [TrangThai]=N'Đang sử dụng' OR [TrangThai]=N'Đã đặt' OR [TrangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_Phong_TrangThai]
GO
ALTER TABLE [dbo].[QuyDinhDenBu]  WITH CHECK ADD CHECK  (([MucDenBu]>=(0)))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([SoTien]>(0)))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [CK_ThanhToan_HinhThuc] CHECK  (([HinhThuc]=N'Ví điện tử' OR [HinhThuc]=N'Thẻ' OR [HinhThuc]=N'Chuyển
khoản' OR [HinhThuc]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [CK_ThanhToan_HinhThuc]
GO
USE [master]
GO
